<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Ajouter une ligne &nbsp;&nbsp; </h3>
                <button type="button" class="btn btn-default btn-add">
                    <i class="fa fa-plus"></i>
                </button>
            </div>

            <!-- /.box-header -->
            <div class="box-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Last Name</th>
                        <th>First Name</th>
                        <th>Birth Date</th>
                        <th>Ville</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for contact in contact.getAllContact %}
                        <tr id="line-{{ contact.id }}">
                            <td>{{ contact.lastName }}</td>
                            <td>{{ contact.firstName }}</td>
                            <td>{{ contact.birthDate }}</td>
                            <td>{{ contact.ville }}</td>
                            <td>
                                <div class="form-group">
                                    <button type="button" class="btn btn-default btn-edit" id="{{ contact.id }}">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                    <button type="button" class="btn btn-default btn-remove" id="{{ contact.id }}">
                                        <i class="fa fa-remove"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Last Name</th>
                            <th>First Name</th>
                            <th>Birth Date</th>
                            <th>Ville</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <div class="hidden" id="dialog-confirm" title="Suppression de contact">
        <p>
            <span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>
            Etes-vous sur de vouloir supprimer cette ligne ?
            <p id="infoLine"></p>
        </p>
    </div>
    <!-- /.col -->
</div>