{% block FamilyType_widget %}
    {{ form_row(form.label) }}
    {{ form_widget(form.detail) }}
{% endblock %}

{% block collection_widget %}
    {% spaceless %}

        {% if prototype is defined %}
            {% set attr = attr|merge({'data-prototype': form_widget(prototype)}) %}
            {% set attr = attr|merge({'data-prototype-name': prototype.vars.name}) %}
        {% endif %}
        {% set attr = attr|merge({'data-allow-add': allow_add ? 1 : 0}) %}
        {% set attr = attr|merge({'data-allow-remove': allow_delete ? 1 : 0 }) %}
        {% set attr = attr|merge({'data-name-prefix': full_name}) %}

        <fieldset class="well">
            <label>{{ form_label(form) }}</label>
            {{ form_errors(form) }}
            {# Don't forget to add the collection attributes in your markup #}
            <table {{ block('widget_attributes') }}>
                <thead>
                    <th></th>
                    {#<th></th>#}
                    {#<th></th>#}
                </thead>
                <tbody>
                    {% for item in form %}
                        {{ form_widget(item) }}
                    {% endfor %}
                </tbody>
            </table>
        </fieldset>

    {% endspaceless %}
{% endblock %}

{% block DetailType_widget %}
    <tr {{ block('widget_attributes') }}>
        <td>
            <div class="col-md-12">
                <div class="row" style="margin-bottom: 1em">
                    {{ form_widget(form.lastName) }}
                </div>
                <div class="row" style="margin-bottom: 1em">
                    {{ form_widget(form.firstName) }}
                </div>
                <div class="row text-center">
                    <a href="#" class="collection-remove btn btn-default" title="Delete element"><span class="glyphicon glyphicon-trash"></span></a>
                    <a href="#" class="collection-add btn btn-default" title="Add element"><span class="glyphicon glyphicon-plus-sign"></span></a>
                    <a href="#" class="collection-duplicate btn btn-default" title="Duplicate element"><span class="glyphicon glyphicon-th-large"></span></a>
                </div>
            </div>
        </td>
        {#<td>{{ form_widget(form.lastName) }}</td>#}
        {#<td>{{ form_widget(form.firstName) }}</td>#}
        {#<td class="text-center">#}
            {#<a href="#" class="collection-remove btn btn-default" title="Delete element"><span class="glyphicon glyphicon-trash"></span></a>#}
            {#<a href="#" class="collection-add btn btn-default" title="Add element"><span class="glyphicon glyphicon-plus-sign"></span></a>#}
            {#<a href="#" class="collection-duplicate btn btn-default" title="Duplicate element"><span class="glyphicon glyphicon-th-large"></span></a>#}
        {#</td>#}
    </tr>
{% endblock %}